# Compiled pyc #
################
*.pkl
*.sif
*.pyc
.*
!/.gitignore
__pycache__
Gemfile.lock
*.img
sregistry
_site
minio-images
env

# Other #
#########
*.json
migrations/
make_video.sh
celerybeat-schedule.db
*.mp4
OLD
secrets.py
settings.yaml
local_settings.py
cronjob

# Static #
##########
/images
/static
/static/css
/static/images
/static/js
/static/favicon.ico
/static/fonts
