{% extends "base/base.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static "css/material-table.css"%}">
{% endblock %}
{% block content %}
{% include 'messages/message.html' %}

<div class="row">
    <div class="col-md-8">
        <div class="card card-block"  style='padding:20px'>

            <div class="row">

            <div class="col-md-12">
            <h3>Team {{ team.name | title }}</h3>

            {% if request.user not in team.get_members %}
                {% if team.permission == "invite" %}
                <p class="alert alert-info">This is an invitation only team.</p>
                {% endif %}
                {% if team.permission == "open" %}
                <a href="{% url 'join_team' team.id %}">
                    <button type="button" 
                            class="btn btn-default btn-sm waves-effect waves-light">Join Team</button></a>
                {% endif %}
            {% else %}
            <div class="btn-group">
                <button class="btn btn-sm btn-default dropdown-toggle"
                        data-toggle="dropdown"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false">
                        Membership
                        <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">

                    <li style="text-transform:none"><a href="{% url 'leave_team' team.id %}">Leave Team</a></li>

                </ul>
            </div>
            {% endif %}

            {% if edit_permission %}

            <div class="btn-group">
                <button class="btn btn-sm btn-default dropdown-toggle"
                        data-toggle="dropdown"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false">
                        Users
                        <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">

                    <li style="text-transform:none"><a href="{% url 'generate_team_invite' team.id %}">Invite Users</a></li>
                    <li style="text-transform:none"><a href="{% url 'edit_team' team.id %}">Edit Team</a></li>
                    <li style="text-transform:none"><a href="{% url 'delete_team' team.id %}">Delete Team</a></li>

                </ul>
            </div>

            {% endif %}

            </div>
            </div>

     </div>
  </div>

    <div class="col-md-4">
        <div class="card card-block" >
           {% if team.team_image %}
           <img width="250px" src="{{ team.team_image.url }}" style="position:relative;top:-5px;border-radius:35px; padding-right:20px;margin-right:15px"/>
           {% else %}
           <img width="250px" src="{% static 'img/robot_package.png' %}" style="position:relative;top:-5px;border-radius:35px; padding-right:20px;margin-right:15px"/>
           {% endif %}
         <br><h4 style='text-align:center;color:666'>{{ team.name }}</h4>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">

    {% if count > 0 %}
      
        <div class="col-md-12" 
             class="table card material-table mdl-data-table--selectable">

        <table id="members" 
               class="table" 
               cellspacing="0" width="100%" style="padding-top:20px"> 
           <thead>
               <tr>
                   <th>Name</th>
                   <th>Roles</th>
                   {% if edit_permission %}
                   <th></th>
                   {% endif %}
               </tr>
           </thead>
           <tbody>
            {% for member in members %}
               <tr id="member_row_{{ member.id }}">
                   <td>{{ member.username }}</td>
                   <td>{% if member in team.members.all %}
                       <span class="label label-info">member</span>
                       {% endif %}
                       {% if member in team.owners.all %}
                       <span class="label label-primary">owner</span>
                       {% endif %}
                   </td>
                   {% if edit_permission %}

                   <td>
                       <!-- Membership -->                  
                       {% if member in team.members.all %}
                       {% if request.user == member %}{% else %}
                       <button class="btn btn-danger btn-xs remove_member" 
                               id="userid_{{ member.id }}">Remove Member</button>
                       {% endif %}
                       {% endif %}

                       <!-- Ownership -->                  
                       {% if member in team.owners.all %} 
                       {% if team.owners.count > 1 %}
                       <button class="btn btn-danger btn-xs remove_owner" 
                               id="userid_{{ member.id }}">Remove Owner</button>
                       {% else %}
                       <button class="btn btn-danger btn-xs remove_owner"
                               title="A team must have at least one owner." 
                               id="userid_{{ member.id }}" disabled>Remove Owner</button>
                       {% endif %} 

                       {% else %}
                       <button class="btn btn-danger btn-xs add_owner" 
                               id="userid_{{ member.id }}">Make Owner</button>
                       {% endif %}
                   </td>
               {% endif %}
               </tr>
            {% endfor %}
           </tbody>
       </table>
</div>
{% else %}

     <p>There are no members in this team!</p>

{% endif %}

{% endblock %}
{% block scripts %}
<script src="{% static "js/cookie-token.js" %}"></script>
<script src="{% static "js/jquery.dataTables.min.js"%}"></script>
<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
<script src="{% static "js/materialize.min.js"%}"></script>
<script src="{% static "js/material.datatables.js"%}"></script>

<style>
.mdl-grid {
   padding-bottom:20px !important;
}
</style>
<script>
$(document).ready(function(){

    $('#members').DataTable( {
        columnDefs: [
            {
                targets: [ 0, 1 ],
                className: 'mdl-data-table__cell--non-numeric'
            }
        ]
    } );

    $('.material-pagination').hide();
    $(".browser-default").change(function(){
        $('.material-pagination').hide();
    })

   {% if edit_permission %}

   function removeMember(user_id, membership, action) {

        $.ajax({
            url : "/teams/{{ team.id }}/" + action+ "/" + membership + "/" + user_id,
            type : "POST", 

            success : function(json) {
                console.log(json);
                $("#message").text(json['message'])
                $("#messages").show();
                $("#member_row_" + user_id).remove();
            },

            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
         });
    }
   {% endif %}

   {% if edit_permission %}

   $(".remove_owner").click(function(){
      var user_id = $(this).attr("id").replace("userid_","")
      setTimeout(function(){
           removeMember(user_id, 'owner', 'remove');
      },500)
   })

   $(".add_owner").click(function(){
      var user_id = $(this).attr("id").replace("userid_","")
      setTimeout(function(){
           removeMember(user_id, 'owner', 'add');
      },500)
   })


   $(".remove_member").click(function(){
      var user_id = $(this).attr("id").replace("userid_","")
      setTimeout(function(){
           removeMember(user_id, 'member', 'remove');
      },500)
   })

   {% endif %}


})
</script>
{% endblock %}
