{% extends "base/base.html" %}
{% load staticfiles %}

{% block css %}
<style>

text {
  font: 10px sans-serif;
}

tspan:last-child {
  font-size: 9px;
  fill-opacity: 0.8;
}

.btn-sm {
  margin-top:20px !important;
}
.container-fluid {
  margin: 5px;
}

#tree {
  z-index:10;
}

rect {
  cursor: pointer;
}
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <h3 style="margin-bottom:0px">Collection Mean Sizes (MB)</h3>
        <small>{{ generation_date }}</small>
        <a id="save_as_svg" 
           value="" 
           style="margin-left:10px; cursor:pointer"
           onclick="save_svg()"><i class="fa fa-save"></i></a>
            
    </div>
    <div class="col-md-4">
        <h4 id="container_metrics" style="color:333;margin-top:10px;margin-bottom:0px"></h4>
    </div>
    <div class="col-md-4">
        <p class="alert alert-info">Registry "<span style="font-weight:500">{{ REGISTRY_URI }}</span>" has {{ containers_count }} containers across {{ collections_count }} collections. </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <svg width="1400" height="900"></svg>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/d3.v4.0.0-alpha.35.min.js'%}"></script>
<script>
var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var format = d3.format(",d");

var color = d3.scaleRainbow();

var stratify = d3.stratify()
    .parentId(function(d) { return d.id.substring(0, d.id.lastIndexOf(".")); });

var treemap = d3.treemap()
    .size([width, height])
    .round(true)
    .padding(1);

d3.csv("{% url 'collections_size_data' %}", function(error, raw) {
  var data = [];

  // uid: is the container id
  // size: is the size in MB
  // id: is the container name
  var lookup = Object();

  $.each(raw, function( index, value ) {
     if (value.id != ''){
         data.push(value);
         lookup[value.id] = {'uid': value.uid,
                             'n': value.N };
     }
  });

  if (error) throw error;

  var sum = 0;

  var root = stratify(data)
      .sum(function(d) { return d.value; })
      .sort(function(a, b) { return b.height - a.height || b.value - a.value; });

  treemap(root);

  color.domain([0, root.value]);

  var cell = svg.selectAll("g")
    .data(root.leaves())
    .enter().append("g")
      .attr("transform", function(d) { return "translate(" + d.x0 + "," + d.y0 + ")"; });

  cell.append("rect")
      .attr("id", function(d) { return "rect-" + d.id; })
      .attr("width", function(d) { return d.x1 - d.x0; })
      .attr("height", function(d) { return d.y1 - d.y0; })
      .style("fill", function(d) { return color(sum += d.value); })
      .on('click', function(d){
          var collection_id = lookup[d.id].uid
          document.location = "{{ domain }}/tools/collection/"+ collection_id + "/sizes";
       })
      .on("mouseover", handleMouseOver)
      .on("mouseout", handleMouseOut)

  cell.append("clipPath")
      .attr("id", function(d) { return "clip-" + d.id; })
    .append("use")
      .attr("xlink:href", function(d) { return "#rect-" + d.id + ""; });

  cell.append("text")
      .attr("clip-path", function(d) { return "url(#clip-" + d.id + ")"; })
    .selectAll("tspan")
      .data(function(d) { 
           var cname = d.id.split('.').slice(-1)
           cname.push(d.data.n)
           return cname.join(' n=').split(/(?=[A-Z][^A-Z])/g).concat(format(d.value) + " MB");
    })
    .enter().append("tspan")
      .attr("x", 4)
      .attr("y", function(d, i) { return 13 + i * 10; })
      .text(function(d) { return d; });

  cell.append("title")
      .text(function(d) { 
           return d.id + "\n" + format(d.value) + " MB"; });
       });


      function handleMouseOver(d, i) {  // Add interactivity
        var container_name = d.id.split('.').slice(-1).join('/')
        $('#container_metrics').text(container_name);

       }

      function handleMouseOut(d, i) {
            $('#container_metrics').text("");
      }

  //rect-collection.dinosaur.avocado.dinosaur/avocado-milkshake

//Vanessa's Hacky save svg function!
function save_svg(evt) {
    var svg = document.getElementsByTagName("svg");
    var serializer = new XMLSerializer();
    var svg_blob = new Blob([serializer.serializeToString(svg[0])],
                            {'type': "image/svg+xml"});
    var url = URL.createObjectURL(svg_blob);
    var svg_win = window.open(url, "svg_win");
}

</script>
{% endblock %}
