<style>
table { width: 100%; border: 1px solid #CCC; border-spacing: 0; border-collapse: collapse; }
tr { padding-bottom: 5px; border-bottom: 1px solid #CCC; }
tr.odd { background: #FFF; }
tr.even { background: rgba(91, 192, 222, 0.32); }
td { margin: 0; padding: 5px 5px 5px 3px; vertical-align: top; }
td.right { text-align: right; }
#centered {
text-align: left;
vertical-align: middle;
margin: 0px auto;
padding: 20px;
width: 550px;
background-color: #FFF;
border: 1px solid #CCC;
}
div.padded { padding-top: 10px; }
div.margin { margin-top: 20px; }
div.clear { clear: both; }
div.note { padding: 15px; background: #FFFFD4; border: 1px solid #DDDDB2; }
.hint { font-size: 0.8em; color: #888; }
</style>
