{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block css %}
<style>
.btn-sm {
  margin-top:20px !important;
}
</style>
{% endblock %}

{% block content %}
<div id="fh5co-portfolio">
<!-- Error messages for builds will be added here-->
{% include 'messages/message.html' %}

<!-- Meta data about container-->
<div class="row">

    <div class="col-md-12">
        <div class="card" style="padding:20px">
            <div class="header" style="padding-bottom:20px">
                <h2 class="title">
                    <a href="{% url 'collection_details' collection.id %}">{{ collection.name }}</a>
                </h2>
                <p>{{ demo.description }}</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 card">
        {% if demo.kind == "ASCIINEMA" %}
            <script type="text/javascript" src="https://asciinema.org/a/{{ demo.url }}.js" id="asciicast-{{ demo.url }}" async></script>
        {% endif %}
    </div>
</div>

{% include "social/share_links.html" %}
{% endblock %}

{% block scripts %}
<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
<script src="{% static "js/materialize.min.js"%}"></script>
<script src="{% static "js/material.datatables.js"%}"></script>
<script>
$(document).ready(function(){

   console.log("Mmmm... parsnips!");

})
</script>
{% endblock %}
