{% if 'globus' in PLUGINS_ENABLED %}
        <div class="row">
            <div class="col-md-6">  
            {% if "globus" in profile.get_providers %}
            <a class="social-button btn-lg" 
               style="padding-left:60px; padding-right:30px"
               id="globus-login" 
               href="{% url 'globus_logout' %}">Disconnect Globus</a>
            {% else %}
            <a class="social-button btn-lg" 
               id="globus-login" 
               style="padding-left:60px; padding-right:30px"
               href="{% url 'globus_login' %}?next=http://localhost{{ request.path }}">Connect Globus</a>
            {% endif %}
            </div>
        </div>
{% endif %}

{% if edit_permission %}
<div class="row">
    <div class="col-md-12">
        <h4>Make Private</h4>

        <p>Each user is allowed one private collection. Private collections are not viewable by
           any other than the collection owner. The Singularity Hub robots like open science and collaboration, and
           encourage you to have public collections.</p>
        {% if collection.private %}
        <a href="{% url 'make_collection_public' collection.id %}"
               style="text-transform:none"
               title="each user is allowed unlimited public collections.">
               <button class="btn btn-success">Make Public</button></a>
        {% else %}
        <a href="{% url 'make_collection_private' collection.id %}"
               style="text-transform:none"
              title="each user is allowed one private collections.">
             <button class="btn btn-warning">Make Private</button></a>
        {% endif %}

    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-12">
        <h4>Disable Building</h4>
        <p>Collection building, whether by commit or deployment trigger, can be disabled when needed. For example, if you 
           forsee needing to make many commits and don't want to build wasted containers, you might disable building.</p>

        {% if collection.enabled %}
        <a href="{% url 'change_build_enabled' collection.id %}"
               style="text-transform:none"
               title="This temporarily disables building.">
               <button class="btn btn-default">Disable Building</button></a>
        {% else %}
        <a href="{% url 'change_build_enabled' collection.id %}"
               style="text-transform:none"
               title="This enables building.">
               <button class="btn btn-default">Enable Building</button></a>
        {% endif %}

    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <h4>Delete Collection</h4>
        <p>Deleting a collection deletes the collection, all of its containers, apps, labels, and metadata.
           This action cannot be undone.</p>
        <a style="text-transform:none"
               id="delete_collection"
               title="Delete collection and all associated containers.">
               <button class="btn btn-danger">Delete Collection</button></a>
    </div>
</div>

{% endif %}
