{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
<div id="fh5co-portfolio">

<div class="row">

    <div class="col-md-12">
        <div style="padding:20px">
            <div class="header">
                </a><h2 class="title">Terms of Service</h2></a>
            </div>
            <div class="content">
              <iframe frameBorder="0" width="60%" height="900px" src="https://docs.google.com/document/d/1np84Pd36nPWQGnrN2ZsH7mID__fyeBllSMjQ5vc9Z3s/pub?embedded=true"></iframe>
            </div>
        </div>
        <p class="well" style='width:60%'>Version 1.0 Updated 8/05/2017</p>
    </div>
</div>

{% endblock %}
