{% extends "base/base.html" %}
{% load staticfiles %}
{% block head %}
{% include "style/search.html" %}
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2><a href="{% url 'all_tags' %}"><< tags:</a> {{ tag.name }}</h2>

        {% if containers %}
            <table>
                 {% for container in containers %}
                 <tr class="{% cycle 'odd' 'even' %}">
                     <td><strong>{{ forloop.counter }}.</strong></td>
                     <td><a href="{{ container.get_absolute_url }}">{{ container.collection.name }}/{{ container.name }}:{{ container.tag }}</a></td>
                     <td>
                         <a href="{% url 'container_details' container.id %}">
                         {% if container.tags.count > 0 %}
                             {% for tag in container.tags.all %}
                             <a href="{% url 'view_tag' tag.id %}">
                                 <button style="margin-top:15px" class="btn btn-default btn-xs">
                                 {{ tag.name }}</button></a>
                              {% endfor %}
                              {% endif %}
                     </td>
                     <td class="right">
                         <span class="hint">
                         Modified Date<br> {{ container.collection.modify_date }} <br/>
                         </span>
                     </td>
                  </tr>
                  {% endfor %}
            </table>
            {% else %}
            <p class="alert alert-info">Beep Boop! That tag is only defined for private collections.</p>
            {% endif %}
    </div>
</div>
{% endblock %}
