{% extends "base/base.html" %}
{% load static %}

{% block content %}
{% include 'messages/message.html' %}

<span id="load" style="display:none">
    <img src="http://upload.wikimedia.org/wikipedia/commons/d/de/Ajax-loader.gif"/>
</span>
<div class="row" style="margin-top:30px; margin-left:-10px">
    <div class="col-md-6">
        <h3 class="title">New Collection</h3>
            <main>
                <form method="POST" enctype="multipart/form-data" action="{% url 'new_collection' %}">
                    {% csrf_token %}
                    <div id="div_id_name" class="form-group">
                        <label for="id_name" class="control-label  requiredField">Name<span class="asteriskField">*</span></label>
                        <div class="controls">
                        <input type="text"
                               name="name"
                               value=""
                               required=""
                               maxlength="50" class="textinput textInput form-control"
                               id="id_name">
                        </div>
                    </div>
                   <button class="btn btn-primary" id="submit-id-submit">Submit</button>
               </form>
           </main>
    </div>
    <div class="col-md-6">
        {% if "google_build" in PLUGINS_ENABLED %}<a href="{% url 'google_build_connect' %}">
          <button class="btn btn-primary">Connect GitHub for Google Build</button></a>
        {% endif %}
    </div>
</div>
{% endblock %}
