{% extends "base/base.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static "css/material-table.css"%}">
<meta http-equiv="refresh" content="30000">
<style>
.btn-control {
  margin-top:20px !important;
  padding-right:5px !important;
  padding-bottom:5px !important;
  padding-left: 7px !important;
  min-width:20px !important;
}

#star {
    padding-left:25px; 
    float:right; 
    color:#e32929; 
    font-size:30px;
    cursor:pointer;
}
</style>
{% endblock %}

{% block content %}
<!-- Error messages for builds will be added here-->
{% include 'messages/message.html' %}

<div class="row" style="margin-top:30px">

    <!-- Container collection meta -->
    <div class="col-md-10">
        <h3 class="title">{{ collection.name }} <span class="small">collection</span></h3>
    </div>
    <div class="col-md-2">

        <!--Star Rating-->
        {% if user.is_authenticated %}
            {% if star %}
            <i id="star" class="fa fa-star"></i>
            {% else %}
            <i id="star" class="fa fa-star-o"></i>
             {% endif %}
        {% endif %}

    </div>
</div>

<div class="row" style="margin-top:40px">

    <!-- Container collection meta -->
    <div class="col-md-12">
        <div class="card">
                 
             <!-- Supplementary -->
             <button class="btn btn-sm btn-default dropdown">
                <a href="#" class="dropdown-toggle" 
                            data-toggle="dropdown" 
                            role="button" 
                            aria-haspopup="true" 
                            aria-expanded="false">
                Supplementary
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% if collection.demo_set.count > 0 %}
                    <li><a  style="text-transform:none"
                            href="{% url 'collection_demos' collection.id %}">Demos and Tutorials</a></li>
                    {% endif %}
                    <li><a style="text-transform:none"
                           href="{% url 'new_demo' collection.id %}">Add Demo or Tutorial</a></li>
                 </ul>
             </button>


             <!-- Settings -->
             <button class="btn btn-sm btn-default dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Settings
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'edit_collection' collection.id %}"
                               style="text-transform:none"
                               title="Add more metadata about your collection.">Edit</a></li>
                  </ul>
              </button>

                {% if collection.containers.count > 0 %}
                <a href="{% url 'collection_commands' collection.id %}"><button class="btn btn-sm btn-default">Usage</button></a>
                {% endif %}

                <!--{% if collection.active %}
                <a data-toggle="tooltip" data-placement="right" title="the builder will build the most recent Singularity file in the base of master branch" href="#"><button class="btn btn-sm btn-default">Trigger Build</button></a>
                {% else %}
                <a data-toggle="tooltip" data-placement="right" title="the builder will build the most recent Singularity file in the base of master branch" href="#"><button class="btn btn-sm btn-default" disabled>Trigger Build</button></a>
                {% endif %}-->
            </div>
    </div>
 </div>

<!-- Containers! -->
<div class="row">
        {% if containers %}
            <div class="col-md-12">
                <div class="card material-table mdl-data-table--selectable">
                   <div class="table-header">
                       <span class="table-title">Builds</span>
                   </div>
                   <table id="datatable">
                       <thead>
                           <tr>
                               <th></th>
                               <th>uri</th>
                               <th>Recipe <i class="fa fa-cloud-download" style="margin-left:5px"></i></th>
                               <th>Status</th>
                               <th>Tag</th>
                               <th>Build Date</th>
                               <!--<th></th>-->
                               <th></th>
                           </tr>
                       </thead>

                       <form method="POST" action="#" id="container-table">
                           {% csrf_token %}
                           <tbody>
                           {% for container in containers %}
                           <tr>
                               <td style="width:80px">

                               {% if edit_permission %}
                               <a title="delete container" 
                                  class="delete_container btn-sm btn btn-control btn-secondary" 
                                  id="delete{{ container.id }}">
                                   <i class="fa fa-trash"></i></a>
                                   <a id="confirm_delete{{ container.id }}" 
                                      href="{% url 'delete_container' container.id %}"></a>
                               {% endif %}
                               
                               </td>

                               <td><a href="{% url 'container_details' container.id %}">
                                   {{ collection.name }}/{{ container.name }}:{{ container.tag }}
                                   </a>
                               </td>
                                
                               <td><a href="{% url 'download_recipe' container.id %}">Singularity.{{ container.tag }}</a></td>
                               <td>
                                   {% if edit_permission %}
                                   <a href="{% url 'change_freeze_status' container.id %}">
                                   {% endif %}
                                   
                                   {% if container.frozen %}
                                   <button title="a frozen tag is locked from being overwritten with a push."
                                           style="width:115px" 
                                           class="btn btn-info btn-sm"
                                           {% if edit_permission %}{% else %}disabled{% endif %}>FROZEN <i style='color:white' class="fa fa-lock"></i></button>
                                   {% else %}
                                   <button title="freezing a container prevents pushing for the specified tag."
                                           style="width:115px" 
                                           class="btn btn-success btn-sm"
                                           {% if edit_permission %}{% else %}disabled{% endif %}>OPEN <i style='color:white' class="fa fa-unlock"></i></button></a>
                                   {% endif %}</td>
                                   {% if edit_permission %}</a>{% endif %}
                               <td>{{ container.tag }}</td>
                               <td>{{ container.add_date }}</td>
                               <td>

                               {% if container.image %} 
                               <a data-toggle="tooltip" 
                                  data-placement="right" 
                                  title="add a container to your cart." 
                                  data-id="container_{{ container.id }}" 
                                  data-name="{{ container.collection.name }}/{{ container.name }}:{{ container.tag }}" 
                                  class="save_container" 
                                  style="margin:15px">
                                  <i data-id="container_{{ container.id }}" 
                                     data-name="{{ container.collection.name }}/{{ container.name }}:{{ container.tag }}"  
                                             class="fa fa-plus"></i>
                                </a>
                               {% endif %}
                           </td>                                

                           </tr>
                           {% endfor %}
                       </tbody>
                       </form>    

                    </table>
                </div>
            </div>
            {% include "collections/collection_admin.html" %}
            {% else %}
            
            <!-- No containers! Tell the user to add one -->
            <div class="col-lg-8 col-sm-6">
                <p style="padding-top:20px;padding-bottom:20px">This page will refresh automatically with new pushes.</p>
            </div>

            {% include "collections/collection_admin.html" %}
            {% endif %}
            {% include "social/share_links.html" %} 

        </div>
{% endblock %}

{% block scripts %}
{% if edit_permission %}
<script src="{% static "js/cookie-token.js" %}"></script>
{% endif %}
<script src="{% static "js/jquery.dataTables.min.js"%}"></script>
<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
<script src="{% static "js/materialize.min.js"%}"></script>
<script src="{% static "js/material.datatables.js"%}"></script>
<script src="{% static "js/jquery-ui.min.js"%}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "js/tag-it.min.js"%}" type="text/javascript" charset="utf-8"></script>

<script>
$(document).ready(function(){

    // Tweaks to fix table style
    $('.table-header').css('width',$("table").css('width'))
    $('.paginate_button').remove()


   {% if user.is_authenticated %}
        console.log('Hello {{ user.username }}!')

        $("#star").click(function(){
            do_star();
        })

        function do_star() {

            $.ajax({
                url : "{% url 'favorite' collection.id %}",
                type : "POST",

                success : function(json) {
                    if (json['status'] == "added"){
                        $("#star").removeClass('fa-star-o');
                        $("#star").addClass('fa-star');
                        console.log("<3 <3 <3");
                    } else {
                        $("#star").removeClass('fa-star');
                        $("#star").addClass('fa-star-o');
                        console.log("Nope, don't like this one anymore!")
                    }
                },
                error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
             });
        }
    {% endif %}


    // Check with the user before deleting a container
    $(".delete_container").click(function(){
        var response = confirm("Are you sure you want to delete this container?");
        if (response == true) {
           var container_id = $(this).attr('id')
           var url = $("#confirm_" + container_id).attr('href');
           document.location = url;
        }
    })

    // Or the entire collection
    $("#delete_collection").click(function(){
        var response = confirm("Are you sure you want to delete this collection of containers?");
        if (response == true) {
           document.location = "{% url 'delete_collection' collection.id %}";
        }
    })

});

</script>
{% endblock %}
