{% load staticfiles %}
{% load gravatar %}

<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">
         <span style="font-size: 1.8rem; color:#e32929; text-decoration:none; text-transform:uppercase">S<span style="font-size:1.8rem;color:black;text-transform:uppercase">Registry</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">☰</button>
    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'collections' %}">Containers</a>
            </li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'teams' %}">Teams</a>
            </li>
            <li class="nav-item"> <a class="nav-link" href="https://singularityhub.github.io/sregistry" target="_blank">User Guide</a>
            </li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'tools' %}">Tools</a>
            </li>
           {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.username }}</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'profile' %}">Settings</a>
                    <a class="dropdown-item" href="{% url 'token' %}">Token</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item"> <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
