{% load static from staticfiles %}
<style>
.btn:active, .btn:hover {
  border: 1px solid transparent !important;
  border-color: #ccc !important;
  background: #CCC !important;
}
#tools {
  min-height:180px;
  margin-top:20px;
  background-color:#F7F7F7;
  padding:20px;
}
#containers {
  padding-bottom:20px;
}
#tool-toggle {
    padding-left: 10px;
    padding-top: 20px;
    max-height:20px;
}
#controls {
  margin-bottom:0px;
  padding-bottom:0px;
}
.container-button {
  width:300px;
  padding:10px;
  background:skyblue;
  color:white;
  font-weight:500;
}
.container-box {
  float:left;
}
#show_container_set {
  position: absolute;
  bottom:0px;
  left:0px;
  background: none !important;
  border:none !important;
  box-shadow:none !important;
}

#show_container_set:hover,
#show_container_set:focus,
#show_container_set:active,
 {
  border:none !important;
  box-shadow:none !important;
}
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
</style>

<!-- Bottom bar to hint that tools are there... -->
<div id="containerbox">
<button class="btn btn-default" id="show_container_set"><i id='show_container_set_icon' class="fa fa-3x fa-plus-square"></i></a></li></button>
<nav id="controls" class="navbar navbar-fixed-bottom hidden" style="background-color:#F7F7F7;margin-left:15%;margin-right:15%">
  <div class="navbar-brand notransition" id="tool-toggle" style="color:rgb(227, 41, 41)" href="#">Container Snacks
      <i style="padding-left:10px;float:right" id="tool_direction" class="fa fa-chevron-up"></i>
      </div>
  <br>
  <div id="tools" style='display:none'>
       <p id="full_message" class="alert alert-info hidden">This is a working set of containers for comparing, and visualizing (under development).</p>
       <!-- Containers will be appended here-->
       <div id="containers"></div>
       <hr>
       <div id="container-operations" class="hidden">
           <button id="reset_container_box" class="save btn btn-default btn-sm">Empty Container Box</button>
           <button id="compare_containers" class="save btn btn-default btn-sm">Intersect Containers</button>
           <button id="subtract_containers" class="save btn btn-default btn-sm">Subtract Containers</button>
       </div> 
       <p id="empty_message" class="alert alert-info hidden">You don't have any snacks in your container box! Try a <a href="{% url 'search' %}">search</a> to add some.</p>
       <p id="message_box" class="alert alert-info hidden"></p>
  </div>
</nav>
</div>

{% include "main/controls_scripts.html" %}

<script>
$(document).ready(function(){

    $("#tool-toggle").click(function(){
        if ($("#tool_direction").hasClass("fa-chevron-up")){
            $("#tool_direction").removeClass("fa-chevron-up")
            $("#tool-toggle").css("padding-top","3px")
            $("#tool_direction").addClass("fa-chevron-down")
        } else {
            $("#tool-toggle").css("padding-top","20px")
            $("#tool_direction").removeClass("fa-chevron-down")
            $("#tool_direction").addClass("fa-chevron-up")
        }
        $("#tools").toggle();
    })

    // Show or hide container set
    $("#show_container_set").click(function(){
        toggle_box();
    })

    // update container box on page start
    update_box();

});
</script>
