{% extends "base/base.html" %}
{% load staticfiles %}
{% block head %}
{% endblock %}

{% block hero %}
<div class="fh5co-intro text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="intro-lead" style="font-weight:500">{% if REGISTRY_NAME %}{{ REGISTRY_NAME }}{% else %}Make containers, run, done.{% endif %}</h1>
                <p class="">Your Registry for <a href="http://singularity.lbl.gov/" target="_blank"> Singularity</a> containers.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div id="fh5co-portfolio">

<!--<p class="alert alert-info">Hi friends! Builders are added for 2.3, which will be the default for new collections. Existing collections will need to <a href="https://github.com/singularityhub/singularityhub.github.io/wiki/Generate-Images#customizing-and-updating-your-builder" target="_blank">be updated by you</a>. Please <a href="https://github.com/singularityhub/singularityhub.github.io/issues" target="_blank">let us know</a> if you run into any issues.</p>-->

<!-- Package your analysis -->
<div class="fh5co-portfolio-item ">
    <div class="fh5co-portfolio-figure animate-box" style="background-image: url(static/img/robot_package.png); background-size: 300px 300px;"></div>
    <div class="fh5co-portfolio-description">
        <h2>Package your Analysis</h2>
        <p>Whether you are working from your own computer, or a cluster environment, you can capture your analysis components and save them to <a href="https://singularityware.github.io" target="_blank">reproducible containers</a></p>
        <p><a href="{% url 'collections' %}" 
              class="btn btn-primary">View Collections</a></p>
    </div>
</div>

<!-- Visualize Containers -->
<div class="fh5co-portfolio-item fh5co-img-right">
    <div class="fh5co-portfolio-figure animate-box" style="background-image: url(static/img/robot_vision.png); background-size: 350px 350px;"></div>
    <div class="fh5co-portfolio-description">
        <h2>Visualize your containers</h2>
        <p>The registry provides a summary view for comparison of its containers.</p>
        <p><a href="{% url 'containers_treemap' %}" 
              target="_blank"
              class="btn btn-primary">See the Registry</a></p>
    </div>
</div>

<!-- Contact -->
<div class="fh5co-portfolio-item ">
    <div class="fh5co-portfolio-figure animate-box" style="background-image: url(static/img/reproducible_robots.png); background-size: 370px 250px;"></div>
    <div class="fh5co-portfolio-description">
        <h2>Request a Build</h2>
        <p>Want to have your container served by the registry {{ REGISTRY_URI }}?
        {% if HELP_CONTACT_EMAIL %}
        contact <a href="mailto:{{ HELP_CONTACT_EMAIL }}">{{ HELP_CONTACT_EMAIL }}</a>.
        {% endif %} {% if HELP_INSTITUTION_SITE %}Learn more at <a href="{{ HELP_INSTITUTION_SITE }}">{{ HELP_INSTITUTION_SITE }}</a>{% endif %}
        </p>
        <p><a href="mailto:{{ HELP_CONTACT_EMAIL }}" 
              class="btn btn-primary">Contact {{ REGISTRY_URI }}</a></p>
    </div>
</div>

<!-- Deploy an Analysis -->
<div class="fh5co-portfolio-item fh5co-img-right">
    <div class="fh5co-portfolio-figure animate-box" style="background-image: url(static/img/hang10_robot.png); background-size: 300px 300px;"></div>
    <div class="fh5co-portfolio-description">
        <h2>Deploy an Analysis</h2>
        <p>Containers provided by a Singularity Registry are immediately programatically accessible with the Singularity software, so you can access them to run custom analysis pipelines in your environment of choice.</p>
        <p><a href="https://github.com/singularityhub/singularityhub.github.io/wiki/Deploy" 
              target="_blank" 
              class="btn btn-primary">Deploy an Analysis</a></p>
    </div>
</div>


</div>
{% endblock %}
{% block footer %}
{% include 'main/footer.html' %}
{% endblock %}
