
.drawer {
        -webkit-box-shadow: rgba(0, 0, 0, .2) 0 0 1px;
        background: #f5f5f5;
        box-shadow: rgba(0, 0, 0, .2) 0 0 1px;
        height: 100%;
        position: fixed;
        width: 16em;
        z-index: 2
}

.drawer a {
        color: gray;
        display: block;
        font-size: 1.1em;
        font-weight: 400;
        line-height: 3.9em;
        padding-left: 1.5em;
        text-decoration: none
}

.drawer a:hover {
        background: #fff
}

.icon-drawer {
        display: inline-block;
        fill: gray;
        height: 2.3em;
        margin-right: 1em;
        padding: .03em;
        top: .7em;
        width: 2.3em
}

.left {
        float: left
}

.right {
        float: right;
        margin-left: 0;
        margin-right: 10px
}

.ripple {
        display: block;
        overflow: hidden;
        position: relative;
        transition: background-color .3s
}

.ripple:active:before {
        padding-top: 120%;
        transition: width .2s ease-out, padding-top .2s ease-out;
        width: 120%
}

.ripple:before {
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, .05);
        border-radius: 100%;
        content: "";
        display: block;
        left: 50%;
        padding-top: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 0
}

.ripple>* {
        position: relative
}

button {
        -moz-border-radius: 50%;
        -moz-transition: background-color .2s;
        -o-transition: background-color .2s;
        -webkit-border-radius: 50%;
        -webkit-transition: background-color .2s;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        height: 48px;
        margin: 12px;
        padding: 12px;
        transition: background-color .2s;
        background: 0 0;
        outline: 0;
        color: gray;
        fill: gray
}

button:hover {
        background: rgba(0, 0, 0, .02)
}

button:active {
        background: rgba(0, 0, 0, .1)
}

footer {
        background: #f0f0f0;
        bottom: 0;
        color: gray;
        font-size: .8em;
        height: 100px;
        margin-top: 100px;
        padding-top: 100px;
        text-align: center;
        width: 100%
}

@keyframes fadein {
        from {
                opacity: 0
        }
        to {
                opacity: 1
        }
}

@-webkit-keyframes fadein {
        from {
                opacity: 0
        }
        to {
                opacity: 1
        }
}

#overlay {
        -webkit-animation: fadein .5s;
        animation: fadein .5s;
        background: rgba(0, 0, 0, .2);
        display: none;
        height: 100%;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1
}

.app-icon-card {
        -moz-box-align: center;
        -moz-box-direction: normal;
        -moz-box-orient: vertical;
        -moz-box-pack: center;
        -ms-flex-align: center;
        -ms-flex-direction: column;
        -ms-flex-pack: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-box-pack: center;
        -webkit-flex-direction: column;
        -webkit-justify-content: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden
}

.app-icon-details {
        -moz-box-align: center;
        -moz-box-pack: center;
        -ms-flex-align: center;
        -ms-flex-pack: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        width: 300px;
        background: #fbfbfc
}

.app-icon-image {
        -moz-box-align: center;
        -moz-box-flex: 1;
        -moz-box-pack: center;
        -ms-flex: 1;
        -ms-flex-align: center;
        -ms-flex-pack: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -webkit-box-flex: 1;
        -webkit-box-pack: center;
        -webkit-flex: 1;
        -webkit-justify-content: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        cursor: pointer;
        flex: 1;
        justify-content: center;
        width: 300px
}

.app-icon-title {
        -moz-box-align: center;
        -moz-box-flex: 1;
        -ms-flex: 1;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex: 1;
        height: 72px;
        margin: 0 24px;
        color: gray;
        padding-left: 10px
}

.card {
        -moz-box-shadow: rgba(0, 0, 0, .2) 0 2px 1px;
        -webkit-box-shadow: rgba(0, 0, 0, .2) 0 2px 1px;
        background: #fff;
        box-shadow: rgba(0, 0, 0, .2) 0 2px 1px;
        height: 100%
}

.grid {
        margin: 0 auto;
        margin-top: 50px;
        position: relative;
        width: 99%;
        height: 934px
}

.grid-item {
        border-radius: 3px;
        position: absolute;
        transition: .3s cubic-bezier(.4, .2, .5, 1.4);
        position: absolute;
        transform: translate3d(6px, 6px, 0);
        opacity: 1;
        padding: 10px;
        height: 300px
}

.svg-icon {
        width: 130px;
        height: 130px
}

.icon {
        width: 24px;
        height: 24px;
        margin-right: 24px;
        fill: gray
}

